* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../Imagenes/Btas-Gotham_City.webp');
  background-size: cover;        /* Escala la imagen para que cubra todo el fondo */
  background-repeat: no-repeat;  /* Evita que la imagen se repita en una cuadrícula */
  background-position: center;   /* Centra la imagen en el fondo */
}



.circle-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto; /* Center the container */
}


.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.5); /* Semi-transparent border */
  background-image: url('../Imagenes/Batmand.webp'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  overflow: hidden;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  z-index: 1;

  /* Debugging: Add a background color for visibility */
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
}

/* Different sizes for each circle */
#circle1 { width: 100%; height: 100%; }
#circle2 { width: 80%; height: 80%; }
#circle3 { width: 60%; height: 60%; }
#circle4 { width: 40%; height: 40%; }
#circle5 { width: 20%; height: 20%; }

/* Hover effect for circles */
.circle:hover {
  opacity: 0.7;
}

/* Active effect for when the circle is clicked */
.circle:active {
  opacity: 0.5;
}

.controls {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 60px;
}




.circle-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.enemigos {
  position: absolute;
}




.btn-primary {
  background-color: rgba(255, 255, 255, 0.3);  /* Cambia el color de fondo del botón */
  color: white;               /* Cambia el color del texto */
  font-size: 30px;            /* Cambia el tamaño del texto */
  padding: 15px 30px;         /* Ajusta el espacio interior del botón */
  border: 2px solid #020202;  /* Cambia el borde del botón */
  border-radius: 8px;         /* Redondea las esquinas del botón */
}

.btn-primary:hover {
  background-color: #181616;  /* Cambia el color del fondo cuando pasas el cursor */
  color: #fff;
  border: 2px solid #6e0606;                /* Cambia el color del texto en hover */
}

